



@import 'bootstrap';
@import 'bootstrap-icons';

.bg-ivory {
    background-color: #fffff0;
  }
  
  .estimate-height-html {
    height: -webkit-fill-available;
  }
  
  .estimate-height-body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  
  .viewx {
    /* sync padding-left this value with side bard width */
    /* padding-top: 50px; */
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
  }
  
  
  .header-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  /*Anchor Link*/
  .hover_link{
    opacity: 0%;
    text-decoration: none;
  }
  
  .hover_link:hover {
    opacity: 100%;
    text-decoration: none;
  }
  
  